h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bcg-color);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

body {
  background-color: var(--primary-bcg-color);
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: var(--primary-text-color);
}
.logo--padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--primary-duration) var(--primary-ttf);
  transition: color var(--primary-duration) var(--primary-ttf);
}
.nav__link--current-color {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current-color::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}
.nav__link--secondary-color {
  color: var(--secondary-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.nav__contact--mla {
  margin-left: auto;
}
.nav__contact-icon {
  fill: currentColor;
}
.nav__contact-icon--mr {
  margin-right: 10px;
}

.nav__contact .nav__item + .nav__item {
  margin-left: 50px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-footer-color);
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__title--margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
  border: transparent;
  -webkit-transition: background-color var(--primary-duration) var(--primary-ttf);
  transition: background-color var(--primary-duration) var(--primary-ttf);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__card {
  width: 270px;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}
.features__card--bgc-white-smoke {
  background-color: #F5F5F5;
}
.features__card--mb {
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features__title--mb {
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.features__text--secondary-color {
  color: var(--secondary-text-color);
}

.projects--pt {
  padding-top: 0;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.projects__image {
  display: block;
}

.projects__img-block {
  position: relative;
}

.projects__descr-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.projects__descr-block--bgi-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.projects__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.projects__description--white {
  color: #FFFFFF;
}

.team--bcg-ghost-white {
  background-color: var(--bcg-color-team);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}

.team__card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team__card--bgc-white {
  background-color: var(--primary-bcg-color);
}
.team__card--box-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__card--padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team__name--mb {
  margin-bottom: 10px;
}

.team__specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
}
.team__specialty--mb {
  margin-bottom: 16px;
}
.team__specialty--color-secondary {
  color: var(--secondary-text-color);
}

.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color var(--primary-duration) var(--primary-ttf), fill var(--primary-duration) var(--primary-ttf);
  transition: background-color var(--primary-duration) var(--primary-ttf), fill var(--primary-duration) var(--primary-ttf);
}
.team__social-link--grey-notactive {
  color: var(--social-link-notactive);
  fill: currentColor;
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bcg-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--primary-duration) var(--primary-ttf);
  transition: color var(--primary-duration) var(--primary-ttf);
}
.clients__link--color-notactive {
  color: var(--social-link-notactive);
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border: 1px solid currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer--bgc-dark-grey {
  background-color: var(--hero-footer-color);
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__nav-block--mr {
  margin-right: 70px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--white {
  color: #ffffff;
}
.logo--mb {
  margin-bottom: 20px;
}

.footer__adress {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color var(--primary-duration) var(--primary-ttf);
  transition: color var(--primary-duration) var(--primary-ttf);
}
.footer__adress--grey {
  color: rgba(255, 255, 255, 0.6);
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--accent-color);
}

.footer__adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__social-block--mr {
  margin-right: 93px;
}

.footer__social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__social-text--mb {
  margin-bottom: 20px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
  gap: 10px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--primary-duration) var(--primary-ttf);
  transition: background-color var(--primary-duration) var(--primary-ttf);
}
.footer__social-link--bgc-grey {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__social-link--fill-white {
  fill: #FFFFFF;
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__subscribe-block {
  width: 570px;
}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__subscribe-text--mb {
  margin-bottom: 20px;
}

.footer__form {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__input-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email--mr {
  margin-right: 12px;
}
.footer__input-email::-webkit-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email::-moz-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email::-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.footer__subscribe-btn:hover, .footer__subscribe-btn:focus {
  background-color: #188ce8;
}

.footer__icon-send {
  margin-left: 10px;
}

:root {
  --primary-bcg-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --bcg-color-team: #f5f4fa;
  --social-link-notactive: #AFB1B8;
  --primary-font: "Roboto", sans-serif;
}

:root {
  --primary-ttf: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-duration: 250ms;
  --primary-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */