h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bcg-color);
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

body {
  background-color: var(--primary-bcg-color);
  font-family: var(--primary-font);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: var(--primary-text-color);
}
.logo--padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--primary-duration) var(--primary-ttf);
  transition: color var(--primary-duration) var(--primary-ttf);
}
.nav__link--current-color {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current-color::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}
.nav__link--secondary-color {
  color: var(--secondary-text-color);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
.nav__contact--mla {
  margin-left: auto;
}
.nav__contact-icon {
  fill: currentColor;
}
.nav__contact-icon--mr {
  margin-right: 10px;
}

.nav__contact .nav__item + .nav__item {
  margin-left: 50px;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-footer-color);
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__title--margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
  border: transparent;
  -webkit-transition: background-color var(--primary-duration) var(--primary-ttf);
  transition: background-color var(--primary-duration) var(--primary-ttf);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__card {
  width: 270px;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}
.features__card--bgc-white-smoke {
  background-color: #F5F5F5;
}
.features__card--mb {
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features__title--mb {
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.features__text--secondary-color {
  color: var(--secondary-text-color);
}

.projects--pt {
  padding-top: 0;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  gap: 30px;
}

.projects__image {
  display: block;
}

.projects__img-block {
  position: relative;
}

.projects__descr-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.projects__descr-block--bgi-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.projects__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.projects__description--white {
  color: #FFFFFF;
}

:root {
  --primary-bcg-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --bcg-color-team: #f5f4fa;
  --social-link-notactive: #AFB1B8;
  --primary-font: "Roboto", sans-serif;
}

:root {
  --primary-ttf: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-duration: 250ms;
  --primary-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */