/* working palette */
/* primary text color #212121 */
/* secondary text color #757575 */
/* background color footer and hero #2F303A */
/* background color team #F5F4FA */
/* accent color #2196F3 */

:root {
  --primary-bcg-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --bcg-color-team: #f5f4fa;
  --social-link-notactive: #AFB1B8;
  --primary-font: "Roboto", sans-serif;
  --primary-ttf: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-duration: 250ms;
  --primary-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* General styles */
body {
  background-color: var(--primary-bcg-color);
  font-family: var(--primary-font);

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bcg-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
}

/* Header */
/* Logo  start*/

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo--padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
}

.logo--blue {
  color: var(--accent-color);
}

.logo--black {
  color: var(--primary-text-color);
}

/* Logo end */

/* Header navigation start*/

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color var(--primary-duration) var(--primary-ttf);
}

.nav__link--current-color {
  position: relative;
}

.nav__link--current-color {
  color: var(--accent-color);
}

.nav__link--current-color::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__contact {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav__contact--mla {
  margin-left: auto;
}

.nav__contact .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link--secondary-color {
  color: var(--secondary-text-color);
}

.nav__contact-icon {
  fill: currentColor;
  
}

.nav__contact-icon--mr {
  margin-right: 10px
}

/* Header navigation end */

/* Hero  start*/

.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-footer-color);
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__title--margin {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
  border: transparent;
  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}

/* Finish Hero */

/* Features start*/

.features__list {
  display: flex;
}

.features__item {
  flex-basis: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__card {
  width: 270px;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}

.features__card--bgc-white-smoke {
  background-color: #F5F5F5;
}

.features__card--mb {
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features__title--mb {
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.features-text--secondary-color {
  color: var(--secondary-text-color);
}

/* Finish features */


/* Projects start*/

.projects--pt {
  padding-top: 0;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 2) / 3);
  gap: 30px;
}

.projects__image {
  display: block;
}

.projects__img-block {
  position: relative;
}

.projects__descr-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.projects__descr-block--bgi-gradient {
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.projects__description {
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.projects__description--white {
color: #FFFFFF; 
}

/* Projects end */

/* Team start */
.team--bcg-ghost-white {
  background-color: var(--bcg-color-team);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 3) / 4);
  gap: 30px;
}

.team__card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team__card--bgc-white {
  background-color: var(--primary-bcg-color);
}

.team__card--box-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card--padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__name--mb {
  margin-bottom: 10px;
}

.team__specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 16);
  letter-spacing: 0.03em;
}

.team__specialty--color-secondary {
  color: var(--secondary-text-color);
}

.team__specialty--mb {
  margin-bottom: 16px;
}

.team__links {
  display: flex;
  flex-basis: calc((100% - 10px * 3) / 4);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team__social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--primary-duration) var(--primary-ttf),
  fill var(--primary-duration) var(--primary-ttf);
}

.team__social-link--grey-notactive {
  color: var(--social-link-notactive);
  fill: currentColor;
}

.team__social-link:hover, 
.team__social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bcg-color);
}

/* Team end */

/* Clients */

.clients__list {
  display: flex;
  flex-basis: calc((100% - 30px * 5) / 6);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: color var(--primary-duration) var(--primary-ttf);
}

.clients__link--color-notactive {
  color: var(--social-link-notactive);
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid currentColor;
}

/* Clients end */


/* Footer start */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--bgc-dark-grey {
  background-color: var(--hero-footer-color);
}

.footer__blocks {
  display: flex;
  align-items: baseline;
}

.footer__nav-block--mr {
  margin-right: 70px;
}

/* Footer logo  */

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo--mb {
  margin-bottom: 20px;
}

.logo--blue {
  color: var(--accent-color);
}

.logo--white {
  color: #ffffff;
}
/* Footer adress */
.footer__adress {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--primary-duration) var(--primary-ttf);
  
}

.footer__adress--grey {
  color: rgba(255, 255, 255, 0.6);
}

.footer__adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress:hover,
.footer__adress:focus {
  color: var(--accent-color);
}

/* Footer social icons */

.footer__social-block {

}

.footer__social-block--mr {
  margin-right: 93px;
}

.footer__social-text { 
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.footer__social-text--mb {
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 10px * 3) / 4);
  gap: 10px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.footer__social-link--bgc-grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-link--fill-white {
  fill: var(--primary-bcg-color);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-color);
}

/* footer subscribe */

.footer__subscribe-block {
  width: 570px;
}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__subscribe-text--mb {
  margin-bottom: 20px;
}

.footer__form {
  width: 570px;
  display: flex;
}

.footer__input-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input-email--mr {
  margin-right: 12px;
}

.footer__input-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__icon-send {
  margin-left: 10px;
}

.footer__subscribe-btn:hover,
.footer__subscribe-btn:focus {
  background-color: #188ce8;
}

/* footer end */

/* Portfolio */
/* Buttons  start*/
.portfolio__button-list {
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.portfolio__button-list--mb {
  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf),
  color var(--primary-duration) var(--primary-ttf);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* buttons end */

/* Portfolio list */
.portfolio__grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 2) / 3);
  gap: 30px;
}

.portfolio__ellement {
  transition: box-shadow var(--primary-duration) var(--primary-ttf);
}

.portfilio__ellement-block {
  position: relative;
  overflow: hidden;
}

.portfolio__ellement:hover,
.portfolio__ellement:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__ellement:hover .portfolio__overlay{
  transform: translate(0%, 0%);
  opacity: 1;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  opacity: 0;
  transform: translate(0, 101%);
  transition: transform var(--primary-duration) var(--primary-ttf),
  opacity var(--primary-duration) var(--primary-ttf);
}

.portfolio__overlay-text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__title--mb {
  margin-bottom: 4px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  transition: opacity var(--primary-duration) var(--primary-ttf), 
  visibility var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: transform var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -30%);
}

.modal__btn {
  position: absolute;

  width: 30px;
  height: 30px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-icon-close {
  fill: currentColor;
  transition: fill var(--primary-duration) var(--primary-ttf);
}


.modal__btn:hover .modal__btn-icon-close,
.modal__btn:focus .modal__btn-icon-close {
  fill: var(--accent-color);
}

.modal__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__descr--mb {
  margin-bottom: 12px;
}

.modal__form {
  text-align: center;
}

.modal__form-label {
  text-align: start;
  display: block;
  position: relative;
}

.modal__form-label--mb {
  margin-bottom: 10px;
}

.modal__label-descr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__label-descr--mb {
margin-bottom: 4px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--primary-duration) var(--primary-ttf);
}

.modal__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--primary-duration) var(--primary-ttf);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
  border-radius: 4px;
} 
.modal__input:focus +.modal__input-icon {
  fill: var(--accent-color);
}

.modal__textarea {
  text-align: start;
  display: block;
  position: relative;
  width: 100%;
}

.modal__textarea--mb {
  margin-bottom: 20px;
}

.modal__textarea-field {
  padding: 12px 16px;

  width: 100%;
  resize: none;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--primary-duration) var(--primary-ttf);
}
.modal__textarea-field:focus {
  border-color: var(--accent-color);
}

.modal__checkbox-group {
  display: flex;
  align-items: center;
}

.modal__checkbox-group--margin {
  margin-left: 12px;
  margin-bottom: 30px;
}

.modal__checbox-label{
  display: flex;
  align-items: center;
}

.modal__checbox-label--mr {
  margin-right: 5px;
}

.modal__checkbox {
  appearance: none;
  cursor: pointer;
}

.modal__checbox-icon {
  margin-right: 7px;
  cursor: pointer;
}
.modal__checbox-icon .modal__icon-unchecked {
  opacity: 1;
  transition: var(--primary-trans);
}

.modal__checkbox:checked +.modal__checbox-icon .modal__icon-unchecked {
  opacity: 0;
}

.modal__checbox-icon .modal__icon-checked {
  opacity: 0;
  transition: var(--primary-trans);
}
.modal__checkbox:checked +.modal__checbox-icon .modal__icon-checked {
  opacity: 1;
}

.modal__descr-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__agreement-link {
  position: relative;
  color: var(--accent-color);
}
.modal__agreement-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  bottom: 1px;
  left: 0;
}




.modal__submit-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
  background-color: #188CE8;
}
