/* working palette */
/* primary text color #212121 */
/* secondary text color #757575 */
/* background color footer and hero #2F303A */
/* background color team #F5F4FA */
/* accent color #2196F3 */


/* General styles */
/* Header */
/* Logo  start*/
/* Logo end */
/* Header navigation start*/
/* Hero  start*/
/* Features start*/
/* Finish features */
/* Projects start*/
/* Projects end */
/* Team start */
/* Team end */
/* Clients */

.clients__list {
  display: flex;
  flex-basis: calc((100% - 30px * 5) / 6);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: color var(--primary-duration) var(--primary-ttf);
}

.clients__link--color-notactive {
  color: var(--social-link-notactive);
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid currentColor;
}


/* 

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo--padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
}

.logo--blue {
  color: var(--accent-color);
}

.logo--black {
  color: var(--primary-text-color);
}

*/


/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--bgc-dark-grey {
  background-color: var(--hero-footer-color);
}

.footer__blocks {
  display: flex;
  align-items: baseline;
}

.footer__nav-block--mr {
  margin-right: 70px;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo--mb {
  margin-bottom: 20px;
}

.logo--blue {
  color: var(--accent-color);
}

.logo--white {
  color: #ffffff;
}
/* Adress */
.footer__adress {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--primary-duration) var(--primary-ttf);
  
}
.footer__adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__adress:hover,
.footer__adress:focus {
  color: var(--accent-color);
}

.footer-social-block {
  margin-right: 93px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social-text { 
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

margin-bottom: 20px;
}

.footer-social-list {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 10px * 3) / 4);
  gap: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bcg-color);

  transition: background-color var(--primary-duration) var(--primary-ttf);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-form-block {
  display: flex;
}
.footer-fr {
  width: 570px;
  display: flex;
}
.footer-subscribe-block {
  width: 570px;
}

.footer-subscribe-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.input-footer-email {
  padding-left: 16px;
  margin-right: 12px;


  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.input-footer-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
}

/* Portfolio */
/* Buttons  start*/
/* buttons end */
/* Portfolio list */
/* Modal */
