/* working palette */
/* primary text color #212121 */
/* secondary text color #757575 */
/* background color footer and hero #2F303A */
/* background color team #F5F4FA */
/* accent color #2196F3 */


/* General styles */
/* Header */
/* Logo  start*/
/* Logo end */
/* Header navigation start*/
/* Hero  start*/
/* Features start*/
/* Finish features */
/* Projects start*/
/* Projects end */
/* Team start */
/* Team end */
/* Clients */
/* Clients end */
/* Footer start */
/* Footer logo  */
/* Footer adress */
/* Footer social icons */
/* footer subscribe */

.footer__subscribe-block {
  width: 570px;
}

.footer__subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__subscribe-text--mb {
  margin-bottom: 20px;
}

.footer__form {
  width: 570px;
  display: flex;
}

.footer__input-email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input-email--mr {
  margin-right: 12px;
}

.footer__input-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__icon-send {
  margin-left: 10px;
}

.footer__subscribe-btn:hover,
.footer__subscribe-btn:focus {
  background-color: #188ce8;
}

/* footer end */

/* Portfolio */
/* Buttons  start*/
.portfolio__button-list {
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.portfolio__button-list--mb {
  margin-bottom: 50px;
}

.portfolio__btn {
  padding: 6px 22px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf),
  color var(--primary-duration) var(--primary-ttf);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* buttons end */

/* Portfolio list */
.portfolio__grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 2) / 3);
  gap: 30px;
}

.portfolio__ellement {
  transition: box-shadow var(--primary-duration) var(--primary-ttf);
}

.portfilio__ellement-block {
  position: relative;
  overflow: hidden;
}

.portfolio__ellement:hover,
.portfolio__ellement:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__ellement:hover .portfolio__overlay{
  transform: translate(0%, 0%);
  opacity: 1;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  opacity: 0;
  transform: translate(0, 101%);
  transition: transform var(--primary-duration) var(--primary-ttf),
  opacity var(--primary-duration) var(--primary-ttf);
}

.portfolio__overlay-text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__title--mb {
  margin-bottom: 4px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  transition: opacity var(--primary-duration) var(--primary-ttf), 
  visibility var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: transform var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -30%);
}

.modal__btn {
  position: absolute;

  width: 30px;
  height: 30px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__btn-icon-close {
  fill: currentColor;
  transition: fill var(--primary-duration) var(--primary-ttf);
}


.modal__btn:hover .modal__btn-icon-close,
.modal__btn:focus .modal__btn-icon-close {
  fill: var(--accent-color);
}

.modal__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__descr--mb {
  margin-bottom: 12px;
}

.modal__form {
  text-align: center;
}

.modal__form-label {
  text-align: start;
  display: block;
  position: relative;
}

.modal__form-label--mb {
  margin-bottom: 10px;
}

.modal__label-descr {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__label-descr--mb {
margin-bottom: 4px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--primary-duration) var(--primary-ttf);
}

.modal__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--primary-duration) var(--primary-ttf);
}

.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
  border-radius: 4px;
} 
.modal__input:focus +.modal__input-icon {
  fill: var(--accent-color);
}

.modal__textarea {
  text-align: start;
  display: block;
  position: relative;
  width: 100%;
}

.modal__textarea--mb {
  margin-bottom: 20px;
}

.modal__textarea-field {
  padding: 12px 16px;

  width: 100%;
  resize: none;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--primary-duration) var(--primary-ttf);
}
.modal__textarea-field:focus {
  border-color: var(--accent-color);
}

.modal__checkbox-group {
  display: flex;
  align-items: center;
}

.modal__checkbox-group--margin {
  margin-left: 12px;
  margin-bottom: 30px;
}

.modal__checbox-label{
  display: flex;
  align-items: center;
}

.modal__checbox-label--mr {
  margin-right: 5px;
}

.modal__checkbox {
  appearance: none;
  cursor: pointer;
}

.modal__checbox-icon {
  margin-right: 7px;
  cursor: pointer;
}
.modal__checbox-icon .modal__icon-unchecked {
  opacity: 1;
  transition: var(--primary-trans);
}

.modal__checkbox:checked +.modal__checbox-icon .modal__icon-unchecked {
  opacity: 0;
}

.modal__checbox-icon .modal__icon-checked {
  opacity: 0;
  transition: var(--primary-trans);
}
.modal__checkbox:checked +.modal__checbox-icon .modal__icon-checked {
  opacity: 1;
}

.modal__descr-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__agreement-link {
  position: relative;
  color: var(--accent-color);
}
.modal__agreement-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  bottom: 1px;
  left: 0;
}




.modal__submit-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
  background-color: #188CE8;
}
