/* working palette */
/* primary text color #212121 */
/* secondary text color #757575 */
/* background color footer and hero #2F303A */
/* background color team #F5F4FA */
/* accent color #2196F3 */

:root {
  --primary-bcg-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  --bcg-color-team: #f5f4fa;
  --social-link-notactive: #AFB1B8;
  --primary-font: "Roboto", sans-serif;
  --primary-ttf: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-duration: 250ms;
  --primary-trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* General styles */
body {
  background-color: var(--primary-bcg-color);
  font-family: var(--primary-font);

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bcg-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
}
/* Header */
/* Logo  start*/
.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.logo--padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__logo {
  margin-right: 93px;
}

.logo--blue {
  color: var(--accent-color);
}
.logo--black {
  color: var(--primary-text-color);
}
/* Logo end */

/* Header navigation */
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color var(--primary-duration) var(--primary-ttf);
}

.nav__link--current-color {
  position: relative;
}

.nav__link--current-color {
  color: var(--accent-color);
}

.nav__link--current-color::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__contact {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.nav__contact--mla {
  margin-left: auto;
}


.nav__contact .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link--secondary-color {
  color: var(--secondary-text-color);
}

.nav__contact-icon {
  fill: currentColor;
  
}
.nav__contact-icon--mr {
  margin-right: 10px
}

/* Hero */
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--hero-footer-color);
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-hero {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  cursor: pointer;
  color: #ffffff;
  border: transparent;
  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: #188ce8;
}
/* Features */
.features-list {
  display: flex;
}
.features-item {
  flex-basis: 270px;
}

.features-background {
  width: 270px;
  height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #F5F5F5;
  margin-bottom: 30px;

  border-radius: 4px;
}
/* .features-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  
} */
/* .antenna:
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  background-image: url(../images/antenna.svg);
} */
/* .clock::before {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
background-image: url(../images/clock.svg);
} */
/* .diagram::before {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  background-image: url(../images/diagram.svg);
} */
/* .astronaut::before {
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  background-image: url(../images/astronaut.svg);
} */
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Projects */
.section.projects {
  padding-top: 0;
}

.projects-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 2) / 3);
  gap: 30px;
}
.projects-img-block {
  position: relative;
}

.projects-descr-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8))
}
.projects-descr {

font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;


color: #FFFFFF;
}

/* Team */
.section.team {
  background-color: var(--bcg-color-team);
  padding-top: 94px;
  padding-bottom: 94px;
}
.img_block {
  display: block;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 3) / 4);
  gap: 30px;
}
.team .card {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--primary-bcg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(16 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}


.team-links {
  display: flex;
  flex-basis: calc((100% - 10px * 3) / 4);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--social-link-notactive);
  fill: currentColor;
  border-radius: 50%;
  transition: background-color var(--primary-duration) var(--primary-ttf),
  fill var(--primary-duration) var(--primary-ttf);
}

.social-link:hover, 
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bcg-color);
}

/* Clients */

.clients-list {
  display: flex;
  flex-basis: calc((100% - 30px * 5) / 6);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;

  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  color: var(--social-link-notactive);
  fill: currentColor;
  transition: color var(--primary-duration) var(--primary-ttf);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border: 1px solid currentColor;
}

/* Footer */
.footer-blocks {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-color);
}
.footer-nav-block {
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.logo-first-footer {
  color: var(--accent-color);
}
.logo-last-footer {
  color: #ffffff;
}
/* Adress */
.adress {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--primary-duration) var(--primary-ttf);
  
}
.adress-list:not(:last-child) {
  margin-bottom: 9px;
}
/* 
.footer .adress:hover,
.footer .adress:focus {
  color: red;
} */

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.footer-social-block {
  margin-right: 93px;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-social-text { 
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

margin-bottom: 20px;
}

.footer-social-list {
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 10px * 3) / 4);
  gap: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bcg-color);

  transition: background-color var(--primary-duration) var(--primary-ttf);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-form-block {
  display: flex;
}
.footer-fr {
  width: 570px;
  display: flex;
}
.footer-subscribe-block {
  width: 570px;
}

.footer-subscribe-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.input-footer-email {
  padding-left: 16px;
  margin-right: 12px;


  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.input-footer-email::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
}

/* Portfolio */
/* Buttons */
.buttons-portfolio {
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-portfolio {
  padding: 6px 22px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf),
  color var(--primary-duration) var(--primary-ttf);
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
/* Portfolio list */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * 2) / 3);
  gap: 30px;
}


.portfolio-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-ellement {
  transition: box-shadow var(--primary-duration) var(--primary-ttf);
}

.portfilio-element-block {
  position: relative;
  overflow: hidden;
}

.portfolio-ellement:hover,
.portfolio-ellement:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-ellement:hover .overlay{
  transform: translate(0%, 0%);
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);;
  opacity: 0;
  transform: translate(0, 101%);
  transition: transform var(--primary-duration) var(--primary-ttf),
  opacity var(--primary-duration) var(--primary-ttf);
}

.overlay-text {
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}


.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  
  transition: opacity var(--primary-duration) var(--primary-ttf), 
  visibility var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  transition: transform var(--primary-duration) var(--primary-ttf);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -30%);
}

.modal-btn {
  position: absolute;

  width: 30px;
  height: 30px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-btn-icon {
  fill: currentColor;
  transition: fill var(--primary-duration) var(--primary-ttf);
}


.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--accent-color);
}

.modal-descr {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.modal-form-label {
  text-align: start;
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-form {
  text-align: center;
}

.label-descr {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--primary-duration) var(--primary-ttf);
}

.modal-form-block {
  width: 100%;
}

.input-modal {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--primary-duration) var(--primary-ttf);
}

.input-modal:focus {
  outline: none;
  border-color: var(--accent-color);
  border-radius: 4px;
} 
.input-modal:focus +.input-icon {
  fill: var(--accent-color);
}

.textarea {
  margin-bottom: 20px;
  width: 100%;
}

.textarea-field {
  padding: 12px 16px;

  width: 100%;
  resize: none;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color var(--primary-duration) var(--primary-ttf);
}
.textarea-field:focus {
  border-color: var(--accent-color);
}

.checkbox-group {
  display: flex;
  margin-left: 12px;
  margin-bottom: 30px;
  align-items: center;
}

.checbox-label{
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.checkbox {
  appearance: none;
  cursor: pointer;
}

.checbox-icon {
  margin-right: 7px;
  cursor: pointer;
}
.checbox-icon .icon-unchecked {
  opacity: 1;
  transition: var(--primary-trans);
}

.checkbox:checked +.checbox-icon .icon-unchecked {
  opacity: 0;
}

.checbox-icon .icon-checked {
  opacity: 0;
  transition: var(--primary-trans);
}
.checkbox:checked +.checbox-icon .icon-checked {
  opacity: 1;
}

.descr-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}
.agreement-link {
  position: relative;
  color: var(--accent-color);
}
.agreement-link::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--accent-color);
  bottom: 1px;
  left: 0;
}




.modal-submit-btn {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color var(--primary-duration) var(--primary-ttf);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #188CE8;
}
