.features__list {
    display: flex;
}
.features__item {
    flex-basis: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.features__card {
    width: 270px;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 4px;

    &--bgc-white-smoke {
    background-color: #F5F5F5;
    }

    &--mb {
        margin-bottom: 30px;
    }
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    &--mb {
        margin-bottom: 10px;
    }
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    &--secondary-color {
        color: var(--secondary-text-color);
    }
}