.footer__subscribe-block {
    width: 570px;
}

.footer__subscribe-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    &--mb {
        margin-bottom: 20px;
    }
}
.footer__form {
    width: 570px;
    display: flex;
}

.footer__input-email {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);

    &--mr {
        margin-right: 12px;
    }

    &::placeholder {
        padding-top: 15px;
        padding-bottom: 15px;
        
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20 / 16);
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer__subscribe-btn {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:hover, &:focus {
        background-color: #188ce8;
    }
}
.footer__icon-send {
    margin-left: 10px;
}
