.portfolio__button-list {
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    &--mb {
        margin-bottom: 50px;
    }
}

.portfolio__btn {
    padding: 6px 22px;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #f5f4fa;
    color: var(--primary-text-color);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--primary-duration) var(--primary-ttf),
        color var(--primary-duration) var(--primary-ttf);

    &:hover, &:focus {
        background-color: var(--accent-color);
        color: #ffffff;
    }
}