.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-bcg-color);
}

.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}