:root {
    --primary-bcg-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --hero-footer-color: #2f303a;
    --bcg-color-team: #f5f4fa;
    --social-link-notactive: #AFB1B8;
    --primary-font: "Roboto", sans-serif;
}